@model Recipe_Site.Models.Users
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forget Password</h1>
@if (TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.error('@TempData["Error"]');
    </script>
}
@if (ViewBag.Message != null)
{
    <label class="text-danger">@ViewBag.Message</label>
}
@if (ViewBag.Exception != null)
{
    <label class="text-danger">@ViewBag.Exception</label>
}
<hr />
<div class="row card p-1 m-3">
    <div class="col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" placeholder="Enter your registered email!" data-val="true" value="@TempData["EmailID"]" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            @if (TempData["OTP"] != null)
            {
                <div class="form-group">
                    <label asp-for="OTP" class="control-label"></label>
                    <input asp-for="OTP" class="form-control" placeholder="Enter your OTP" />
                    <span asp-validation-for="OTP" class="text-danger"></span>
                </div>
            }
            <div class="form-group mt-1">
                @if (TempData["OTP"] == null)
                {
                    <input type="submit" value="Send OTP" asp-action="SendOTP" class="btn btn-primary" />
                }
                @if (TempData["OTP"] != null)
                {
                    <input type="submit" value="Verify" asp-action="ForgetPassword" class="btn btn-success" />
                }
                @if (HttpContextAccessor.HttpContext.Session.GetString("EmailID") != null)
                {
                    <a class="text-success p-1" asp-action="Edit" asp-route-emailid="HttpContextAccessor.HttpContext.Session.GetString(" EmailID")">Back to Edit</a>
                }
                else
                {
                    <a class="text-success p-1" asp-action="Login">Back to Login</a>
                }
            </div>
        </form>
    </div>
</div>
