@model Recipe_Site.Models.Users

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* New Registration Design *@
<div class="container">
    <div class="registration-card card">
        <div class="card-body">
            <h2 class="card-title text-center">Register</h2>
            <form asp-action="Registration" enctype="multipart/form-data">
                <div class="form-group form-floating mb-2">
                    <input asp-for="EmailId" class="form-control" placeholder="" />
                    <label asp-for="EmailId" class="control-label">EmailID</label>
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
                <div class="form-group form-floating mb-2">
                    <input asp-for="Password" class="form-control" placeholder="" />
                    <label asp-for="Password" class="control-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-floating mb-2">
                    <input asp-for="Fname" class="form-control" placeholder="" />
                    <label asp-for="Fname" class="control-label">First Name</label>
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>
                <div class="form-group form-floating mb-2">
                    <input asp-for="Lname" class="form-control" placeholder="" />
                    <label asp-for="Lname" class="control-label">Last Name</label>
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </div>
                <div class="form-group form-floating mb-2">
                    <input asp-for="DOB" class="form-control" placeholder="" />
                    <label asp-for="DOB" class="control-label">Date Of Birth</label>
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ProfilePic" class="control-label"></label>
                    <input asp-for="ProfilePic" class="form-control" hidden />
                    <input asp-for="ImageFile" class="form-control" accept=".jpg,.jpeg" />
                    <span asp-validation-for="ProfilePic" class="text-danger"></span>
                </div>
                <input type="submit" value="Register" class="btn btn-success" />
                <p class="text-center mt-3">
                    <a asp-action="Login">Back to Login</a>
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
