@model Recipe_Site.Models.Users

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password</h1>
@if (ViewBag.Message != null)
{
    <label class="text-danger">@ViewBag.Message</label>
}
@if (ViewBag.Exception != null)
{
    <label class="text-danger">@ViewBag.Exception</label>
}
<hr />
<div class="row card p-1 m-3">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" data-val="true" placeholder="Enter new password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" data-val="true" placeholder="Re-enter new password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Reset" asp-action="ResetPassword" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>